<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/style/base.css">
  <link rel="stylesheet" href="/style/layout.css">
  <link rel="stylesheet" href="/style/modules.css">
  <link rel="stylesheet" href="/public/style/reset.css">

  <title>Document</title>
</head>

<body>
  <h1>Look for new book!</h1>
  <form action="/searches" method="POST">
    <input type="text" name="book" placeholder="Enter Book Name">
    <div>
      <label for="title">Title</label>
      <input type="radio" name="title">
    </div>
    <div>
      <label for="author">Author</label>
      <input type="radio" name="author">
    </div>
    <button>Google Books</button>
  </form>
</body>

</html>